<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="projectSegment" (ionChange)="updateProjects()">
      <ion-segment-button value="public">Public</ion-segment-button>
      <ion-segment-button value="active">Active</ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-row>
      <ion-col width-80>
          <ion-searchbar color="primary"
                         [(ngModel)]="queryText"
                         (ionInput)="updateProjects()"
                         placeholder="Search">
          </ion-searchbar>        
      </ion-col>
      <ion-col width-20>
        <button ion-button color="secondary" round (click)="createProject()">+</button>        
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
 <ion-list *ngFor="let project of projects">
    <ion-list-header>
      {{project.group}}
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of project.items">
      <ion-item (click)="itemSelected(item)">
        <ion-avatar item-left>
          <img src="{{item.imgAsset}}">
        </ion-avatar>
        <button ion-item (click)="goToProjectDetail(item)">
          <h2>{{item.name}}</h2>
          <p>
            {{item.description}}
          </p>
        </button>
      </ion-item>
      
      <ion-item-options>
        <button ion-button color="light" icon-left>
          <ion-icon name="ios-more"></ion-icon>
          More
        </button>
        <button ion-button color="primary" icon-left>
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary" icon-left>
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>     
  </ion-list>  
</ion-content>
